.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
body{
  overflow: hidden;
}
.Header{
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  background: dimgrey;
}
.rotate_parent_block{
  width: 60px;
  height: 20px;
  border-radius: 20%;
  border: 2px solid white;
  position: relative;
}
.header_right_block{
  display: flex;
  margin: 0px 60px;
}
.rotate_parent_block .rotate_block {
  width: 30px;
  background: white;
  height: 100%;
  
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}
button{
  padding: 7px  30px;
  border: 0px;
  margin: 0px 10px;
  color: white;
  border-radius: 15px;
  background: rgb(114, 114, 99);
}
.router_parent .position{
  position: absolute;
  left: 45%;
  top: 10px;
}
.router_parent .position ul li{
  margin: 0px 10px;
  display: inline-block;
}
.router_parent .position ul li span {
  color: white;
  
}
.background {
  margin-top: -24px;
  background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('./img/back.jpg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.background .background_contain {
  text-align: center;
 
}
.set_sell{
text-align: center;
  margin: 60px 0px;
}
.set_sell .sell_contain {
  display: flex;
  margin: 20px 0px;
  justify-content: space-around;
}
 span {
  font-size: 18px;
  color: black;
  margin: 9px 0px;
}
.set_sell .sell_contain .button {
  margin-top: 16px;

}
.set_sell .sell_contain .button button {
  padding: 7px  30px;
  border: 0px;
  margin: 0px 8px;
  color: white;
  border-radius: 15px;
  background: rgb(114, 114, 99);
}
.benefits_book {
  border-radius: 20px;
margin: 50px 100px;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
}

.benefits_book .benefite_book_child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 30px;
}
.benefite_book_child .common_book{
  margin: 0px 10px ;
}
.offer {
  margin: 100px 100px;
  background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('./img/webp.png');
  background-repeat: no-repeat;
  color: aliceblue;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.offer  .offer_contain {
  text-align: center;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(70, 53, 53);
  height: 300px;
  }
  .footer .link ul li{
  list-style-type: none;
  color: white;
  }
  
  .footer  span {
    margin: 0px 10px;
    font-size: 20px;
  color: black;
  }
  .contact_block {
    width: 1400px;
    height: 400px;
    margin: 60px 100px;
  }
  .contact_block iframe{
    width: 100%;
    height: 100%;
  }


  .contact {
    margin: 40px 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.contact .left {
    margin: 0px 20px;
}
.contact .left div i {
    float: left;
    margin: 4px;
}

.contact .left div{
    margin: 28px;
}

.contact  .left div h4 {
    font-size: 16px;

    position: relative;
    left: 0px;
    color: dimgray;
}
.right form {
    box-sizing: border-box;
 display: flex;
 margin-left: 10px;
 margin-top: 10px;
 flex-direction: column;
 justify-content:space-around;
 align-self: center;  
}
.right form  input {
    width: 30vw;
    height: 50px;
    margin: 14px 0px;
}
.right form  input::placeholder {
    padding: 10px;
}
.right form  textarea{
    resize: none;
    margin-top: 10px;
}
.right form  textarea::placeholder{
    padding: 10px;
}
.right form .sub{
    border: 1px solid salmon;
    background: transparent;
    color: tomato;
    display: block;
    margin-top: 20px;
    width: 10vw;
    height: 50px;
}
.about_block {
  margin-top: 50px;
  display: flex;
  padding: 30px 180px;
justify-content: space-evenly;

}
.about_block .contain {
  margin: 0px 10px;
}
.book_block{
  margin-top: 80px;
margin-bottom: 30px;
}
.book_block .all_book_contain {
  padding: 30px 100px;
}
.book_block .all_book_contain h2{
text-align: center;
}
.book_block .all_book_contain .book_block {
  display: flex;
    justify-content: space-around;
    text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
